<a href="https://colab.research.google.com/github/sandhyashinde06/repo/blob/main/PythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Examples of int, string data types
x = 5
y = 2.5
z = "Sandhya"
print("The value of x is:", x)
print("The data type of X is:", type(x))
print("The value of y is:", y)
print("The data type of X is:" , type(y))
print("The value of z is:", z)
print("The data type of X is:" , type(z))

The value of x is: 5
The data type of X is: <class 'int'>
The value of y is: 2.5
The data type of X is: <class 'float'>
The value of z is: Sandhya
The data type of X is: <class 'str'>

In [20]:
#Multiline, positioning of the characters
x = """This is a multiline code. It is working.
This would work.
The message has to be printed as it is."""
print(x)
y = """This is a single line written in multiline code"""
print(y)
a= "We are students"
print(a[1])
b = None                                                                         #This is a None datatype defination example
print(b)

This is a multiline code. It is working.
This would work.
The message has to be printed as it is.
This is a single line written in multiline code
e
None

In [18]:
#Collection datatypes
x= ["apple", "Banana", "Cherry", "apple", "cherry"]
print(x)
print(x[0])
print(len(x))
print(len(x[1]))

['apple', 'Banana', 'Cherry', 'apple', 'cherry']
apple
5
6

In [24]:
#Examples of list datatype
x= ["apple", "Banana", "Cherry", "apple", "cherry"]
y = [1,2,3,4]
z= [True, False, True]
a = ["Sandhya", 1, True, 0.5]                                                     #This is multiple dataype list
print(x[2])
print(y[2])
print(z[2])
print(a)
a.append("Shinde")
print(a)
a.remove("Shinde")
print(a)

Cherry
3
True
['Sandhya', 1, True, 0.5]
['Sandhya', 1, True, 0.5, 'Shinde']
['Sandhya', 1, True, 0.5]

In [35]:
#conditional statements
a= 2
b= 4
if a>b:
  print("a is greater than b")
#else :
#  print("b is greater than a")
print("This statement is outside the if - else block")

This statement is outside the if - else block

In [40]:
#Print even or odd number
#num = int(input("Enter a number: "))
num = 5.2
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

5.2 is Odd

In [41]:
a = 35
b = 33
if b>a :
  print(" b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [57]:
#Check grade of a student
#x = 79
x = int(input("Enter a number: "))
if x>= 90:
  print("The grade is A")
elif x >=80 and x<90:
  print("The grade is B")
else:
  print("The grade is C")

Enter a number: 20
The grade is C

In [66]:
x = [1,2,3]
while len(x) <= 2:
  print(x)